
*{
    margin:0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(images/60.-Zircon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
.nav-wrapper{
    display: grid;
    grid-template-columns:190px 75%;
    width:80%;
    padding: 1em 0;
    margin: 0 auto;
    margin-bottom: 20px;
   
    
}
nav .logo{
    padding-top: 5px;
    font-size: 1.3em;

}
/*
.burger-icon{
    display: none;
}
*/
.nav-items{
    width:100%;
    display: block;
    text-align: right;
    list-style: none;
    
    margin-top: 10px;
    
}
.list-item{
    display: inline;
    padding-left: 10px;
}
.nav-items .list-item a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
}
.nav-items .list-item a:hover{
    color: rgb(187, 180, 180);
}
.main-wrapper{
    width: 80%;
    margin: auto;
}
.wrapper {
    display: grid;
    grid-template-areas:
       'featured featured sub-featured'
       'main-content main-content main-sidebar'
       'footer footer footer';
       grid-template-columns: repeat(3, 1fr);
       grid-gap: 1em;
}
.featured{
    grid-area: featured;
    min-height: 500px;
    background-image: url(https://source.unsplash.com/random/500*500);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(253, 246, 246);
    box-shadow: 1px 2px 2px 2px #888888;
    padding: 1em;
    color: white;
    display: grid;
    align-content: flex-end;
}

.sub-featured{
    grid-area:sub-featured;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    box-shadow: 1px 2px 2px 2px #888888;
   color: white;
   
}
.sub1 , .sub2, .sub3 {
    background-image: url(https://source.unsplash.com/random/500*500);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
}
.main-content{
    grid-area: main-content;
    background-color: rgb(253, 246, 246);
    box-shadow: 1px 2px 2px 2px #888888;
    padding: 1em;
    line-height: 1.5em;
    min-height: 500px;
}
.main-sidebar{
    grid-area: main-sidebar;
    background-color: rgb(253, 246, 246);
    box-shadow: 1px 2px 2px 2px #888888;
    padding: 1em;
    line-height: 1.5em;
}
.main-sidebar h2, .main-sidebar p, .main-sidebar form{
    padding-bottom: 10px;
}
.footer{
    width: 80%;
    margin: 1em auto;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.copyright{
    grid-column: 1/-1;
    text-align: center;
    padding: 1em;
    font-weight: 600;
}
@media screen and (max-width:900px){

.nav-wrapper{
        display: grid;
        grid-template-columns:1fr;
        width:100%;
        padding:  1em 0;
        margin-bottom: 20px;
}
.nav-items{
    width:100%;
    text-align: center;
}
.list-item{
    padding:1em;
}
 nav .logo{
    width: 100%;
    padding:10px;
    margin: 0 auto;
    text-align: center;
}
.main-wrapper{
    width: 100%;
    padding:1em;
}
.wrapper{
    display: grid;
    grid-template-areas:
       'featured featured '
       'sub-featured sub-featured'
       'main-content main-sidebar'
       'footer footer ';
       grid-template-columns:2fr 1fr;
       margin: 0;
}
.featured{
    width: 100%;
}

.sub-featured{
    display: grid;
    grid-gap:5px;
    grid-template-columns: repeat(3,1fr);
}
.footer{
    width: 100%;
    min-height: 300px;
    padding-left: 10px;   
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

}
@media screen and (max-width:600px){
.nav-wrapper{
    
    text-align: center;
}
 nav .logo{
     font-size: 1.5em;
    width: 100%;
    padding:10px;
    text-align: center;
}
.nav-items{
    width:100%;
    text-align: center;
    margin:0; 
}
.list-item{
    width:100%;
    
    display:block;
    border-bottom: 1px dotted black;
    
}

.main-wrapper{
    width: 100%;
    padding:1em;
}
.wrapper{
    display: grid;
    grid-template-areas:
       'featured'
       'main-content'
       'main-sidebar'
       'sub-featured'
       'footer';
       grid-template-columns: 1fr;
}

.sub-featured{
    display: grid;
    grid-template-columns:1fr;
}
.footer{
    width: 100%;
    padding:1em;   
    display: grid;
    grid-template-columns:1fr;
    text-align: center;
}
.social-footer{
    align-self: center;
    text-align-last: center;
}
}